<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xindu.talkfx_new">
    <!-- 加载fresco也需要用到 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 千万不要忘记声明权限,没有声明权限的时候,竟然还是可以得到收到短信通知的.但是读取不到短信的内容 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 添加必要的权限 -->
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NavigationPageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ColumnDetailActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.CommentDetailActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MyInfoActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PersonalActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PhotoBrowserActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MyActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MyFollowPersonalActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>